### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
### table.

Ans: Select substring(FIRST_NAME,1,3) from Worker;

### Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
### column ‘Amitabh’ from Worker table.

Ans: Select POSITION("a" IN first_name) FROM Worker WHERE first_name = "Amitabh";

### Q-3. Write an SQL query to print the name of employees having the highest salary in each
### department.


Ans : Select  w.DEPARTMENT,w.FIRST_NAME,w.Salary from(SELECT max(Sal) as Max_Sal,DEPARTMENT from Worker group by DEPARTMENT) as Temp_Sal

Inner Join Worker w on Temp_Sal.DEPARTMENT=w.DEPARTMENT and Temp_Sal. Max_Sal=w.Sal;